# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: beta-xcode6.3

cache: cocoapods
podfile: Example/Podfile
before_install:
  - gem install cocoapods -v '0.37.2' # Since Travis is not always on latest version
  - openssl aes-256-cbc -K $encrypted_567e8491a869_key -iv $encrypted_567e8491a869_iv -in .travis/deploy_key.pem.enc -out .travis/deploy_key.pem -d
  - chmod 600 .travis/deploy_key.pem # this key should have push access
  - ssh-add .travis/deploy_key.pem
  - pod repo add adamcin-specs git@github.com:adamcin/CocoaPods-Specs.git
  - pod install --project-directory=Example
script:
  - xctool clean build -workspace Example/SwiftCJClient.xcworkspace -scheme SwiftCJClient-Example -destination 'platform=iOS Simulator,name=iPhone 6'
  - xctool test -workspace Example/SwiftCJClient.xcworkspace -scheme SwiftCJClient-Example  -destination 'platform=iOS Simulator,name=iPhone 6' -sdk iphonesimulator
  - pod lib lint --quick --sources=adamcin-specs,master
after_success:
  - pod repo push --verbose adamcin-specs SwiftCJClient.podspec
