# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: beta-xcode6.3
addons:
  ssh_known_hosts: github.com

before_install:
  - gem install cocoapods -v '0.37.2' # Since Travis is not always on latest version
  - brew install carthage
  - carthage bootstrap --verbose
script:
  - xctool clean build test -workspace SwiftCJClient.xcworkspace -scheme SwiftCJClient-iOS -destination 'platform=iOS Simulator,name=iPhone 6' -sdk iphonesimulator
  - xctool clean build test -workspace SwiftCJClient.xcworkspace -scheme SwiftCJClient-Mac
  - pod lib lint --quick
after_success:
  - openssl aes-256-cbc -K $encrypted_567e8491a869_key -iv $encrypted_567e8491a869_iv -in .travis/deploy_key.pem.enc -out .travis/deploy_key.pem -d
  - chmod 600 .travis/deploy_key.pem # this key should have push access
  - ssh-add .travis/deploy_key.pem
  - pod repo add adamcin-ssh git@github.com:adamcin/CocoaPods-Specs.git
  - pod repo push --verbose adamcin-ssh SwiftCJClient.podspec
